.dashboard_container{
      width: 100%;
      height: 100vh;
      overflow: hidden;
      display: flex;
      align-items: top;
      justify-content: center;
      padding: 1.5rem 0 0 0;
}

.inner_content_wrap{
      width: 80%;
}

/* Page Title */
.uname{
      color: var(--main);
}

/* Box Status */
.box_group{
      width: 100%;
      height: auto;
      display: flex;
      gap: 2rem;
}


/* Table styling */
.tb_head{
      background: linear-gradient(276deg, rgba(0,181,255,1) 0%, rgba(0,150,255,1) 33%, rgba(0,104,255,1) 100%);
}

.tb_field{
      color: var(--second);
}

.judul{
      color: var(--text);
      text-decoration: underline !important;
}

.edit{
      color: green;
}

.delete{
      color: red;
      font-weight: var(--bold);
}

/* Search Box */
.search_box{
      wiidth: 100%;
      height: auto;
      margin-top: 1.5rem;
}

.search_form{
      display: flex;
      flex-direction: column;
      gap: .5rem;
}

.search_label{
      font-size: var(--);
      font-weight: var(--bold);
}

